﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>4-Process</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="app/BaseController.js"></script>
</head>
<body ng-controller="BaseController">

    <div class="page" style="margin: 0 auto; margin-top:25px">
        <div class="result">
            <span class="pull-right text-info" style="margin:5px 5px 0 0">
                <span ng-model="First">{{First}} </span>
                <span ng-model="Operator">{{Operator}}</span>
            </span>
            <p ng-model="Result">{{Result}}</p>
        </div>
        <div class="calculator">
            <table>
                <tr>
                    <td title="Temizle" ng-click="ClickClear()" class="outside">c</td>
                    <td title="Sil" ng-click="ClickBackSpace()" class="outside">⇤</td>
                    <td title="Pozitif-Negatif" ng-click="ClickSwitch()" class="outside">±</td>
                    <td title="Böl" ng-click="ClickOperator('/')" class="outside">÷</td>
                </tr>
                <tr>
                    <td ng-click="ClickNumber(7)">7</td>
                    <td ng-click="ClickNumber(8)">8</td>
                    <td ng-click="ClickNumber(9)">9</td>
                    <td title="Çarp" ng-click="ClickOperator('*')" class="outside">×</td>
                </tr>
                <tr>
                    <td ng-click="ClickNumber(4)">4</td>
                    <td ng-click="ClickNumber(5)">5</td>
                    <td ng-click="ClickNumber(6)">6</td>
                    <td title="Çıkart" ng-click="ClickOperator('-')" class="outside">-</td>
                </tr>
                <tr>
                    <td ng-click="ClickNumber(1)">1</td>
                    <td ng-click="ClickNumber(2)">2</td>
                    <td ng-click="ClickNumber(3)">3</td>
                    <td title="Topla" ng-click="ClickOperator('+')" class="outside">+</td>
                </tr>
                <tr>
                    <td ng-click="ClickNumber(0)" colspan="2">0</td>
                    <td ng-click="ClickNumber('.')">.</td>
                    <td title="Sonuç" ng-click="ClickResult()" class="equal">=</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>